{%- capture fullUrl %}{{ site.url }}{{ page.url }}{% endcapture -%}
<!doctype html>
  <html lang="en"{% if tmpl or templateclass %} class="{% if tmpl %} tmpl-{{ tmpl }}{% endif %}{% if templateclass %} {{ templateclass }}{% endif %}"{% endif %}>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="generator" content="Eleventy">

      <title>{% if title %}{% if titleOverride %}{{ titleOverride }}{% else %}{{ title }}{% endif %} | {{ site.domain }}{% else %}{{ site.domain }}{% endif %}</title>

      {% comment %} <link rel="preload" href="/static/fonts/lato/2.0/latolatin-regular-subset.woff2" as="font" type="font/woff2" crossorigin> {% endcomment %}
      {% comment %} <link rel="preload" href="/static/fonts/hex-franklin/HEX_Franklin_v0.2_Tyght_Variable-subset.woff2" as="font" type="font/woff2" crossorigin> {% endcomment %}

      <meta name="author" content="{{ site.author }}">
      <meta name="description" content="{% if description %}{{ description }}, {% endif %}{% if title %}A post by {% endif %}Zach Leatherman (zachleat)">
      <meta name="generator" content="{{ eleventy.generator }}">

      {%- if noindex %}
        {% comment %}For OpenGraph image pages{% endcomment %}
        <meta name="robots" content="noindex">
      {%- endif %}

      <!-- Icons -->
      {% include "favicon" %}

      <!-- Social -->
      <meta property="og:title" content="{% if title %}{{ title }} | {{ site.domain }}{% else %}{{ site.domain }}{% endif %}">
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="{{ site.name }}">
      <meta property="og:description" content="{% if description %}{{ description }}{% endif %}">
      <meta property="og:image" content="{% ogImageSource page %}">
      <meta property="og:url" content="{{ site.url }}{{ page.url }}">

      <!-- SEO/Feeds -->
      {% comment %} <link rel="canonical" href="{{ fullUrl }}"> {% endcomment %}
      {% comment %} {% if rssFeedUrl and rssFeedTitle %} {% endcomment %}
      {% comment %} <link rel="alternate" href="{{ rssFeedUrl }}" title="{{ rssFeedTitle }}" type="application/atom+xml"> {% endcomment %}
      {% comment %} {% else %} {% endcomment %}
      {% comment %} <link rel="alternate" href="/web/feed/" title="Zach Leatherman’s Posts Feed" type="application/atom+xml"> {% endcomment %}
      {% comment %} <link rel="alternate" href="/follow/" title="Zach Leatherman’s Activity Feed" type="application/rss+xml"> {% endcomment %}
      {% comment %} {% endif %} {% endcomment %}
      {% comment %} <link rel="feed" href="https://www.zachleat.com/web/"> {% endcomment %}

      {% comment %}Critical CSS in production, blocking stylesheet for local dev for better livereload{% endcomment %}
      {% if eleventy.env.runMode == "serve" %}
        <link rel="stylesheet" href="/static/initial.css">
        {% else %}
        <style>{% renderFile "./static/initial.scss" %}</style>
      {% endif %}
      <style>{% getBundle 'css' %}</style><!-- WebC -->

      <!-- Preconnect to Eleventy services -->
      {% comment %} <link href="https://v1.opengraph.11ty.dev" rel="preconnect" crossorigin> {% endcomment %}
      {% comment %} <link href="https://v1.indieweb-avatar.11ty.dev" rel="preconnect" crossorigin> {% endcomment %}

      {%- if JS_ENABLED %}
        <link rel="stylesheet" href="/static/defer.css" media="print" onload="this.media='all'">
        <noscript>
          <link href="/static/defer.css" rel="stylesheet">
        </noscript>
        {%- else %}
        <link href="/static/defer.css" rel="stylesheet">
      {%- endif %}
      {%- for url in stylesheets -%}
        <link href="{{ url }}" rel="stylesheet">
      {%- endfor %}
      {%- for stylesheet in stylesheetsDist -%}
        <link href="/static/{{ stylesheet }}" rel="stylesheet">
      {%- endfor %}

      {%- if JS_ENABLED %}
        <script>{% include "./static/initial.js" %}</script>
        <script type="module">{% getBundle 'js' %}</script><!-- WebC -->
        <script src="/static/defer.js" type="module"></script>
      {%- endif %}

      <meta property="eleventy:path" content="{{ page.inputPath }}">

      <!-- IndieAuth -->
      {%- for social in site.social -%}
        <link href="{{ social.url }}" rel="me">
      {%- endfor -%}
    </head>
    <body class="{%- if classes and classes.body %} {{ classes.body }}{% endif -%}"
      {% unless excludeFromSearch %} data-pagefind-body{% endunless %}>
      {{ content }}
      {%- if JS_ENABLED %}
        {%- for url in scripts -%}
          <script src="{{ url }}" defer>
          {%- endfor %}
        {%- endif %}
      </body>
    </html>